.container {
    border-style: solid;
    border-color: #ED1C24;
    padding: 0.5%; 
    margin-left: 2%; 
    margin-top: 2%;
    width: 95%;
    height: 40px;
  } 

  .text {
    color: #ED1C24; 
    font-weight: bold;
    font-size: 18px; 
    margin-left: 5%; 
  }
